/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

article {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

footer {
    background-color: #faf7f7;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
}
